<!-- Experience Section -->
   <section id="education">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Education</h2>
                   <hr class="star-light">
               </div>
           </div>
           <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
           <div class="resume-item">
             <h3 class="resume-item-title">Michigan State University</h3>
             <h4 class="resume-item-details">Ph. D., Computer Science &bull; Sep, 2015 &mdash; Present </h4>
             <ul class="resume-item-list">
             </ul>
           </div><!-- end of resume-item -->
           <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
           <div class="resume-item">
             <h3 class="resume-item-title">Michigan State University</h3>
             <h4 class="resume-item-details">M. Sc., Physics &bull; Sep, 2012 &mdash; May, 2015 </h4>
             <ul class="resume-item-list">
               <li>GPA: 3.6/4.0 </li>
             </ul>
           </div><!-- end of resume-item -->
           <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
           <div class="resume-item">
             <h3 class="resume-item-title">Fudan University</h3>
             <h4 class="resume-item-details">B. Sc., Physics &bull; Sep, 2007 &mdash; May, 2011 </h4>
             <ul class="resume-item-list">
               <li>GPA: 3.3/4.0 </li>
               <li>Excellent Student, Fudan University </li>
               <li>Excellent New Student Scholarship, Fudan University </li>
             </ul>
           </div><!-- end of resume-item -->
       </div>
   </section>
