 <!-- Experience Section -->
    <section class="success" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Nan is a PhD student in Bioinformatics Group at Michigan State University since Spring 2015. His research interests include bioinformatics, data mining, and machine learning. He focuses on designing and implementing efficient, highly scalable algorithms to correct the erroneous reads from large scale next generation sequencing data. He got his Bachelor from Fudan University in 2011 and Master from Michigan State University in 2015, respectively.</p>
                </div>
                <div class="col-lg-4">
                    <p>After graduate, Nan hope to find a position likes Machine Learning Engineer or Data Scientist in high-tech company worldwide. </p>
                </div>

            </div>
            <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
            <div class="resume-item">
              <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
              <h4 class="resume-item-details">Safety Inspector &bull; Nov, 1980 &mdash; Present</h4>
              <p class="resume-item-copy">Write about your core competencies in one or two sentences describing your position. If you held the position for a long time, it could be a longer section, including a couple bullet points:</p>
              <ul class="resume-item-list">
                <li>Ate lots of donuts</li>
                <li>Fell asleep rarely</li>
                <li>Left promptly at end of day (sometimes earlier)</li>
              </ul>
              <p class="resume-item-copy">If you're going to copy paste markup, or edit it, just be sure to keep the appropriate classnames on your new elements for styling purposes.</p>

            </div><!-- end of resume-item -->
        </div>
    </section>
