 <!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
            <div class="resume-item">
              <h3 class="resume-item-title">Computer Science and Engneering, Michigan State University</h3>
              <h4 class="resume-item-details">Graduate Research Assistant, Bioinformatics &bull; Jan, 2015 &mdash; Present &bull; Supervisor: Yanni Sun</h4>
              <p class="resume-item-copy">Using various algorithm and data skill to develop tools for DNA sequece analysis:</p>
              <ul class="resume-item-list">
                <li>Develop new tools that combining Hidden Markov Model with
                  consensus alogorithm from directed acyclic graph. We hope this
                   tool can be utilized to improve the accuracy of NGS for
                    homology search. </li>
              </ul>
            </div><!-- end of resume-item -->
            <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
            <div class="resume-item">
              <h3 class="resume-item-title">Laboratory for Ultrafast Nanoscale Imaging and Spectroscopy, Michigan State University</h3>
              <h4 class="resume-item-details">Graduate Research Assistant &bull; Jan, 2013 &mdash; Dec, 2014 &bull; Supervisor: Chong-Yu Ruan </h4>
              <p class="resume-item-copy">Developing new ultrafast electron microscopy system to research ultrafast trasition in physics system:</p>
              <ul class="resume-item-list">
                <li>Try to achieve the femtosecond level temporal resolution with 10 to 6 electrons per pulse. </li>
                <li>By strongly focus our electron beam we can achieve 1000 electrons per pulse per micrometer square dose, which is the highest number report for ultrafast electron diffraction system. </li>
                <li>This can be used to probe either nano scale crystals or single shot diffraction with large sample. </li>
                <li>Using mean-field approximation to simulate the trajectrorys of electron in the system. </li>
                <li>Polish user-interface for the operation software of new system. </li>
              </ul>
            </div><!-- end of resume-item -->
        </div>
    </section>
