 <!-- Experience Section -->
    <section class="success" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
            <div class="resume-item">
              <h3 class="resume-item-title">Department of Computer Science and Engneering, Michigan State University</h3>
              <h4 class="resume-item-details">Graduate Research Assistant, Bioinformatics &bull; Jan, 2015 &mdash; Present &bull; Supervisor: Yanni Sun</h4>
              <p class="resume-item-copy">Using various algorithm and data skill to develop tools for DNA sequece analysis:</p>
              <ul class="resume-item-list">
                <li>Develop new tools that combining Hidden Markov Model with
                  consensus alogorithm from directed acyclic graph. We hope this
                   tool can be utilized to improve the accuracy of NGS for
                    homology search/li>
              </ul>
            </div><!-- end of resume-item -->
        </div>
    </section>
