    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                        <div class="row">
                            <div class="col-lg-4">
                                <p>Nan is a PhD student in Bioinformatics Group at Michigan State University since Spring 2015. His research interests include bioinformatics, data mining, and machine learning. He focuses on designing and implementing efficient, highly scalable algorithms to correct the erroneous reads from large scale next generation sequencing data. He got his Bachelor from Fudan University in 2011 and Master from Michigan State University in 2015, respectively.</p>
                            </div>
                            <div class="col-lg-4">
                                <p>After graduate, Nan hope to find a position likes Machine Learning Engineer or Data Scientist in high-tech company worldwide. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
